@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,700");
* {
  box-sizing: border-box;
}

body {
  background: rgba(227, 136, 130, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #635358;
}

h1, .profile-name {
  font-family: "Frank Ruhl Libre", serif;
  text-transform: uppercase;
  color: #8a8184;
}

.jam {
  font-size: 1.5rem;
}

button {
  border: none;
  height: 70px;
  width: 70px;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.3s ease;
  background: white;
}
button:hover {
  background: #f1d0ca;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1d0ca;
  z-index: -2;
}

.main-bg-texture {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: -1;
  top: 50px;
  height: 185px;
  width: 100%;
  opacity: 0.6;
  background-size: contain;
  background-image: url("./graphics/pattern.png");
}

.main-nav {
  z-index: 2;
  background: #f1d0ca;
  position: fixed;
  height: 52px;
  width: 100%;
  box-shadow: 0 0 30px rgba(227, 136, 130, 0.3);
}
.main-nav .nav-content {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
.main-nav .nav-content button {
  flex: auto;
  border: none;
  height: inherit;
  border-radius: 0;
}
.main-nav .nav-content .logo-img {
  height: 70%;
  margin: 10px;
}
.main-nav .nav-content .logo {
  margin-right: auto;
  color: #8a8184;
  font-weight: 700;
}
.main-nav .nav-content .logo .sublogo {
  margin-left: 15px;
  margin-right: 50px;
  font-size: 0.8rem;
  font-weight: 300;
}

section {
  margin: auto;
  margin-top: 78px;
  max-width: 800px;
}

.pic {
  background: #8a8184;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: url("./graphics/ppf.png");
  background-size: cover;
}

.feed {
  padding: 0 20px 0 20px;
}

.create-thought {
  position: relative;
  display: flex;
  flex-direction: column;
}
.create-thought textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 13.3333333333px;
  border-radius: 2rem;
  resize: none;
}
.create-thought #update {
  align-self: flex-end;
  background: #899c7d;
  color: white;
  padding: 20px;
  width: 7rem;
  border-radius: 2rem;
  margin-right: 20px;
}
.create-thought:before, .create-thought:after {
  content: "";
  background: white;
  border-radius: 50%;
  position: absolute;
  bottom: 75px;
  left: -5px;
  width: 25px;
  height: 25px;
}
.create-thought:after {
  bottom: 60px;
  left: -20px;
  width: 13px;
  height: 13px;
}

.activity {
  margin: 40px;
  box-shadow: 0 8px 30px rgba(138, 129, 132, 0.2);
}
.activity .header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.activity .header .name {
  margin-left: 20px;
  font-weight: 700;
}
.activity .header .date {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 0.8rem;
}
.activity .content {
  padding: 20px;
  padding-top: 0;
}
.activity .name-date, .activity .name-date div {
  display: flex;
  justify-content: flex-start;
}
.activity .name-date {
  flex-direction: column;
}
.activity .name-date + button {
  margin-left: auto;
}
.activity .mood {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  margin-top: 0;
}
.activity .mood-icon {
  display: inline-block;
  background: #9fc6c1;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 1rem;
}

.user-edit {
  width: 50px;
  height: 50px;
  background: transparent;
  margin-left: 20px;
}

.thought {
  display: flex;
  flex-direction: column;
}
.thought .header,
.thought .comment,
.thought .reply {
  background: #eff0da;
}
.thought .comment,
.thought .reply {
  padding: 20px;
  margin: 6.6666666667px;
  display: inline-block;
  max-width: 70%;
}
.thought .comment {
  text-align: right;
  align-self: flex-end;
  border-radius: 3rem 3rem 0 3rem;
  background: #899c7d;
  color: #eff0da;
}
.thought .reply {
  align-self: flex-start;
  border-radius: 0 3rem 3rem 3rem;
}

.leave-comment {
  background: white;
  display: flex;
}
.leave-comment input {
  flex: auto;
  padding-left: 20px;
}
.leave-comment button {
  height: 70px;
  border: none;
  border-radius: 0;
}

.network {
  display: flex;
  flex-direction: column;
}
.network .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.network .header .search-bar {
  flex: auto;
  display: flex;
  margin-right: 10px;
}
.network .header .search-bar input {
  flex: auto;
  padding: 20px;
}
.network .friend {
  background: rgba(244, 222, 218, 0.6);
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
}
.network .friend button {
  background: transparent;
  margin-left: auto;
}
.network .friend span {
  margin-left: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user .yesno {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user .yesno .no {
  background: #e38882;
}
.user .yesno .no .jam-co {
  color: white;
}
.user .add-panel textarea {
  width: 95%;
  resize: none;
  padding: 20px;
  text-align: center;
}
.user .add-panel ul {
  width: 75%;
  margin: auto;
}
.user .add-panel ul li {
  background: #eff0da;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.user .edit-pic {
  background: transparent;
  width: 100px;
  height: 100px;
  padding: 0;
  position: relative;
}
.user .edit-pic .edit-pic-but {
  position: absolute;
  background: #eff0da;
  width: 50px;
  height: 50px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user .edit-pic .jam-pencil {
  color: #8a8184;
  position: relative;
}
.user .profile-name {
  margin: 20px;
  font-size: 1.5rem;
}
.user input[type=text] {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  border-radius: 8px;
}
.user .edit {
  align-self: flex-end;
  border-radius: 50%;
  margin-right: 20px;
}
.user .done {
  background: #899c7d;
  color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.user .pic {
  width: 100px;
  height: 100px;
}
.user .check-in-edit {
  margin: 20px;
  align-self: stretch;
  background: #f1d0ca;
  text-align: center;
  box-shadow: 0 3px 15px rgba(227, 136, 130, 0.4);
}
.user .check-in-edit ul {
  list-style: none;
  padding: 0;
}
.user .check-in-edit ul li {
  position: relative;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(227, 136, 130, 0.4);
}
.user .check-in-edit ul li .delete {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  background: #e38882;
  box-shadow: 0 4px 10px rgba(99, 83, 88, 0.2);
}
.user .check-in-edit button {
  width: 100%;
  background: #899c7d;
  color: white;
}
.user #logout-but {
  margin-top: 20px;
  background: #e38882;
  width: 100%;
}

.checkin {
  background: #e38882;
  color: white;
}
.checkin.modal {
  padding: 40px;
  background: #eff0da;
  z-index: 10;
}
.checkin.modal .bg {
  background: #e38882;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.checkin.modal > *:not(h1) {
  margin: 20px;
}
.checkin.modal > *:not(h1):not(.bg):not(.bg-texture) {
  position: relative;
}
.checkin.modal h1 {
  position: absolute;
  top: -6rem;
}
.checkin.modal h1.title {
  top: -4rem;
}
.checkin.modal h1 .highlight {
  position: absolute;
  z-index: 0;
  top: 2rem;
  bottom: 0;
  left: -0.5rem;
  right: -0.5rem;
  background: linear-gradient(to top, white, #eff0da);
}
.checkin.modal h1 span {
  z-index: 1;
  position: relative;
}
.checkin.modal #submit {
  flex: none;
  border-radius: 50%;
  border: 3px solid #9fc6c1;
  margin: 40px;
}

.feelings {
  width: 100%;
  height: 100px;
  color: #8a8184;
  margin: 0 auto;
  padding: 20px;
  background: #fcfcfc;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
  word-break: break-all;
  outline: none;
}

.mood-measurer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  position: relative;
}
.mood-measurer .indicator {
  position: absolute;
  left: 92%;
  top: -70px;
  padding: 0px 20px 0px 20px;
  background: #eff0da;
  color: #e38882;
  font-weight: 600;
  box-shadow: 0 3px 20px rgba(138, 129, 132, 0.4);
}
.mood-measurer .indicator:before {
  content: "";
  position: absolute;
  background: #eff0da;
  width: 15px;
  height: 15px;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
}
.mood-measurer .num {
  display: inline-flex;
  justify-content: inherit;
  margin: 15px 26px 0 26px;
}
.mood-measurer small {
  color: white;
}
.mood-measurer input {
  appearance: none;
  outline: none;
  border-radius: 0.25rem;
  position: relative;
}
.mood-measurer input::-webkit-slider-thumb {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #9fc6c1;
  border: 0.2em solid white;
  border-radius: 50%;
  -webkit-appearance: none;
}
.mood-measurer input::-moz-range-thumb {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #9fc6c1;
  border: 0.2em solid white;
  border-radius: 50%;
  -webkit-appearance: none;
}
.mood-measurer input::-ms-thumb {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #9fc6c1;
  border: 0.2em solid white;
  border-radius: 50%;
  -webkit-appearance: none;
}
.mood-measurer input::-webkit-slider-runnable-track {
  box-shadow: inset 0 0 0px 26px #e38882;
}
.mood-measurer input::-moz-range-track {
  box-shadow: inset 0 0 0px 26px #e38882;
}
.mood-measurer input::-ms-track {
  box-shadow: inset 0 0 0px 26px #e38882;
}

.yesno {
  display: flex;
  width: 80%;
}
.yesno button {
  flex: auto;
  border-radius: 3rem;
  margin: 0 10px 0 10px;
}
.yesno .yes {
  background: #9fc6c1;
}
.yesno .no {
  background: #f1d0ca;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 222, 218, 0.6);
  z-index: 20;
}

.modal {
  width: 100%;
  max-width: 700px;
  max-height: 80vh;
  position: absolute;
  background: #eff0da;
  left: 0;
  right: 0;
  top: 12vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  box-shadow: 0 5px 30px rgba(227, 136, 130, 0.8);
}
.modal .title {
  font-size: 3rem;
}
.modal h2 {
  font-size: 1.2rem;
  font-weight: 300;
}
.modal .bg-texture.first {
  position: absolute;
  bottom: -120px;
  left: -180px;
}
.modal .bg-texture.second {
  position: absolute;
  right: -140px;
  top: -50px;
}

.home-page {
  background: #eff0da;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e38882;
  text-align: center;
}
.home-page .bg-texture {
  pointer-events: none;
  position: absolute;
  height: 80%;
  top: 0;
  mix-blend-mode: darken;
}
.home-page h2 {
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 3rem;
}
.home-page p {
  font-size: 1.5rem;
  max-width: 500px;
}
.home-page button {
  background: #899c7d;
  color: #eff0da;
  border-radius: 5rem;
  margin: 2rem;
  margin-bottom: 0;
  width: 150px;
  height: 100px;
}
.home-page .buts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-page .signup-but {
  background: #e38882;
}
.home-page .login-but {
  background: #899c7d;
}
.home-page .login-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page .login-page input {
  height: 20vh;
  max-height: 70px;
  padding: 20px;
  margin: 20px;
}
.home-page .login-page h2 {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.home-page .back-but {
  position: absolute;
  top: -15px;
  left: -80px;
  margin: 0;
  width: 80px;
  height: 80px;
  background: transparent;
}
.home-page .back-but .jam {
  font-size: 2.2rem;
}

.modal.network {
  width: 90%;
  padding: 20px;
}
.modal.network .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
.modal.network .close .jam-close {
  font-size: 2rem;
  color: #8a8184;
}
.modal.network .add-friend {
  background: #f4deda;
  width: 100%;
  margin: 20px 0 20px;
  box-shadow: 0 2px 15px rgba(227, 136, 130, 0.5);
}
.modal.network .invite-friend {
  background: #899c7d;
  color: white;
  width: 100%;
  box-shadow: 0 2px 15px rgba(138, 129, 132, 0.5);
}
.modal.network .network-input {
  background: white;
  border-radius: 8px;
  margin: 10px;
  display: flex;
}
.modal.network .network-input input {
  padding: 20px;
  background: transparent;
  flex: auto;
}
.modal.network .network-input button {
  background: #e38882;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

/*# sourceMappingURL=App.css.map */
