@import url("https://fonts.googleapis.com/css?family=Quicksand:500");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");
* {
  box-sizing: border-box;
}

body {
  background: rgba(227, 136, 130, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #635358;
}

h1,
.profile-name {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #8a8184;
}

.profile-name {
  margin: 20px;
  text-transform: initial;
  font-size: 1.5rem;
  color: #635358;
}

.jam {
  font-size: 1.5rem;
  position: relative;
}

button {
  border: none;
  height: 70px;
  width: 70px;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.3s ease;
  background: white;
  cursor: pointer;
}
button:hover {
  filter: brightness(0.9) contrast(1.2);
  transform: scale(0.97);
}
button:disabled {
  opacity: 0.65;
  transform: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

textarea {
  resize: none;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

*::-webkit-input-placeholder {
  opacity: 0.6;
}

*:-moz-placeholder {
  opacity: 0.6;
}

*::-moz-placeholder {
  opacity: 0.6;
}

*:-ms-input-placeholder {
  opacity: 0.6;
}

*::-ms-input-placeholder {
  opacity: 0.6;
}

*::placeholder {
  opacity: 0.6;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transition: all 1s ease;
  z-index: -2;
}

.feed + .bg {
  background: #f1d0ca;
}

.network + .bg {
  background: rgba(211, 215, 194, 0.9);
}

.user + .bg {
  background: rgba(222, 235, 244, 0.9);
}

.main-bg-texture {
  position: fixed;
  mix-blend-mode: multiply;
  z-index: -1;
  top: 50px;
  height: 185px;
  width: 100%;
  opacity: 0.6;
  background-size: contain;
  background-image: url("./graphics/pattern.png");
}

.main-nav {
  z-index: 2;
  background: #f1d0ca;
  position: fixed;
  height: 52px;
  width: 100%;
  box-shadow: 0 0 30px rgba(227, 136, 130, 0.3);
}
.main-nav .nav-content {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
.main-nav .nav-content .nav-but-container {
  height: 100%;
  flex: auto;
  display: flex;
  position: relative;
}
.main-nav .nav-content .nav-but-container button:first-child {
  border-radius: 2rem 0 0 0;
}
.main-nav .nav-content .nav-but-container button:nth-child(3) {
  border-radius: 0 2rem 0 0;
}
.main-nav .nav-content .indicator {
  width: 33%;
  height: 5px;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
}
.main-nav .nav-content .feed-but {
  color: #e38882;
}
.main-nav .nav-content .feed-but:hover {
  background: #f4deda;
  transform: none;
  filter: none;
}
.main-nav .nav-content .feed-but.activate {
  background: #f4deda;
  animation: fadeNav1 0.3s ease 0.1s 1 normal both;
}
.main-nav .nav-content .network-but {
  color: #84b3a0;
}
.main-nav .nav-content .network-but:hover {
  background: #d2e7e4;
  transform: none;
  filter: none;
}
.main-nav .nav-content .network-but.activate {
  background: #d2e7e4;
  animation: fadeNav2 0.3s ease 0.1s 1 normal both;
}
.main-nav .nav-content .user-but {
  color: #97c2d4;
}
.main-nav .nav-content .user-but:hover {
  background: #d8e7ee;
  transform: none;
  filter: none;
}
.main-nav .nav-content .user-but.activate {
  background: #d8e7ee;
  animation: fadeNav3 0.3s ease 0.1s 1 normal both;
}
.main-nav .nav-content .activate .jam {
  margin-right: 0.5rem;
}
.main-nav .nav-content button {
  flex: auto;
  border: none;
  height: inherit;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav .nav-content .logo-img {
  height: 70%;
  margin: 10px;
}
.main-nav .nav-content .logo {
  margin-right: auto;
  color: #8a8184;
  font-weight: 700;
}
.main-nav .nav-content .logo .sublogo {
  margin-left: 15px;
  margin-right: 50px;
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (max-width: 750px) {
  .main-nav .nav-content .nav-but-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
  }
}
@keyframes fadeNav1 {
  0% {
    color: transparent;
  }
  100% {
    color: #e38882;
  }
}
@keyframes fadeNav2 {
  0% {
    color: transparent;
  }
  100% {
    color: #85d0c6;
  }
}
@keyframes fadeNav3 {
  0% {
    color: transparent;
  }
  100% {
    color: #94cdea;
  }
}
section {
  margin: auto;
  margin-top: 78px;
  max-width: 800px;
  padding: 20px;
}

.pic {
  background: #8a8184;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: url("./graphics/ppf.png");
  background-size: cover;
}

.thought-provoker h1 {
  color: #635358;
  text-transform: initial;
}
.thought-provoker p {
  font-size: 1.2rem;
}
.thought-provoker .bold {
  font-weight: 700;
}

.feed {
  padding: 0 20px 0 20px;
}

.create-thought {
  position: relative;
  display: flex;
  flex-direction: column;
}
.create-thought textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 13.3333333333px;
  border-radius: 2rem;
}
.create-thought #update {
  align-self: flex-end;
  background: #899c7d;
  color: white;
  padding: 20px;
  width: 7rem;
  border-radius: 2rem;
  margin-right: 20px;
}
.create-thought:before, .create-thought:after {
  content: "";
  background: white;
  border-radius: 50%;
  position: absolute;
  bottom: 75px;
  left: -5px;
  width: 25px;
  height: 25px;
}
.create-thought:after {
  bottom: 60px;
  left: -20px;
  width: 13px;
  height: 13px;
}

.activity {
  animation: fadeTile 0.3s ease-in-out both;
  margin: 40px;
  box-shadow: 0 8px 30px rgba(138, 129, 132, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.activity .comment-but {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e38882;
  transform: none;
}
.activity .comment-but .jam {
  margin-right: 12px;
}
.activity .header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.activity .header .name {
  margin-left: 20px;
  font-weight: 700;
}
.activity .header .date {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 0.8rem;
  opacity: 0.5;
}
.activity .content {
  padding: 20px;
  padding-top: 0;
}
.activity .comment {
  opacity: 0.8;
}
.activity .name-date,
.activity .name-date div {
  display: flex;
  justify-content: flex-start;
}
.activity .name-date {
  flex-direction: column;
}
.activity .name-date + button {
  margin-left: auto;
}
.activity .check-in-q {
  margin-bottom: 1.2rem;
}
.activity .mood {
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  margin-top: 0;
}
.activity .mood-icon {
  display: inline-block;
  flex: none;
  background: #9fc6c1;
  box-shadow: 0 5px 20px rgba(137, 156, 125, 0.5);
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-left: 1rem;
}
.activity .mood-icon.number {
  background: #91ceec;
  box-shadow: 0 5px 20px rgba(99, 160, 218, 0.5);
}
.activity .mood-icon.no {
  background: #e38882;
  box-shadow: 0 5px 20px rgba(213, 92, 90, 0.5);
}

.user-edit,
.user-filter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(244, 222, 218, 0.1);
  margin-left: 20px;
}
.user-edit:hover,
.user-filter:hover {
  transform: none;
  background: rgba(227, 136, 130, 0.5);
}

.checkin.activity .header .jam {
  color: rgba(255, 255, 255, 0.8);
}

.thought.activity .header .jam {
  color: #8a8184;
}

.thought {
  background: #f1d0ca;
}

.thought,
.all-comments {
  display: flex;
  flex-direction: column;
}
.thought .header,
.thought .comment,
.thought .reply,
.all-comments .header,
.all-comments .comment,
.all-comments .reply {
  background: transparent;
}
.thought .comment,
.thought .reply,
.all-comments .comment,
.all-comments .reply {
  display: flex;
  max-width: 70%;
}
.thought .comment .bubble,
.thought .reply .bubble,
.all-comments .comment .bubble,
.all-comments .reply .bubble {
  padding: 20px;
  margin: 6.6666666667px;
  box-shadow: 0 10px 35px -5px rgba(99, 83, 88, 0.15);
}
.thought .comment .pic,
.thought .reply .pic,
.all-comments .comment .pic,
.all-comments .reply .pic {
  flex: none;
  margin: 10px;
}
.thought .comment,
.all-comments .comment {
  flex-direction: row-reverse;
  align-self: flex-end;
}
.thought .comment .bubble,
.all-comments .comment .bubble {
  text-align: right;
  border-radius: 3rem 3rem 0 3rem;
  color: #eff0da;
}
.thought .comment .pic,
.all-comments .comment .pic {
  align-self: flex-end;
}
.thought .reply,
.all-comments .reply {
  align-self: flex-start;
}
.thought .reply .bubble,
.all-comments .reply .bubble {
  border-radius: 0 3rem 3rem 3rem;
  background: white;
  color: #635358;
}

.thought .comment .bubble {
  background: #899c7d;
}

.checkin .all-comments .comment .bubble {
  background: #635358;
}

.leave-comment {
  background: white;
  display: flex;
}
.leave-comment textarea {
  flex: auto;
  padding: 24px;
  box-shadow: none;
}
.leave-comment button {
  height: 70px;
  border: none;
  border-radius: 0;
}

.network {
  display: flex;
  flex-direction: column;
}
.network h2 {
  margin-top: 0;
}
.network .header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.network .header .search-bar {
  flex: auto;
  display: flex;
  border-radius: 5rem;
  background: white;
  overflow: hidden;
  /* padding: 0 5px 0 5px; */
  padding-left: 10px;
  /* height: 70px; */
  margin-right: 35px;
}
.network .header .search-bar input {
  flex: auto;
  padding: 20px;
}
.network .header .search-bar button {
  height: 100%;
}
.network .header #add-friends {
  border-radius: 8px;
  height: 100%;
  width: 100px;
  background: #d55c5a;
  color: white;
}
.network .friends {
  display: flex;
  flex-direction: column;
}
.network .friend {
  background: rgba(244, 222, 218, 0.6);
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 1px;
  animation: fadeTile 0.3s ease-in-out both;
  width: initial;
}
.network .friend button {
  background: transparent;
  margin-left: auto;
}
.network .friend span {
  margin-left: 20px;
  color: #635358;
}

.friend:nth-child(1),
.activity:nth-child(1) {
  animation-delay: 0.03s;
}

.friend:nth-child(2),
.activity:nth-child(2) {
  animation-delay: 0.06s;
}

.friend:nth-child(3),
.activity:nth-child(3) {
  animation-delay: 0.09s;
}

.friend:nth-child(4),
.activity:nth-child(4) {
  animation-delay: 0.12s;
}

.friend:nth-child(5),
.activity:nth-child(5) {
  animation-delay: 0.15s;
}

.friend:nth-child(6),
.activity:nth-child(6) {
  animation-delay: 0.18s;
}

.friend:nth-child(7),
.activity:nth-child(7) {
  animation-delay: 0.21s;
}

.friend:nth-child(8),
.activity:nth-child(8) {
  animation-delay: 0.24s;
}

.friend:nth-child(9),
.activity:nth-child(9) {
  animation-delay: 0.27s;
}

.friend:nth-child(10),
.activity:nth-child(10) {
  animation-delay: 0.3s;
}

.friend:nth-child(11),
.activity:nth-child(11) {
  animation-delay: 0.33s;
}

.friend:nth-child(12),
.activity:nth-child(12) {
  animation-delay: 0.36s;
}

@keyframes fadeTile {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.alert {
  background: #d55c5a;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  line-height: 18px;
  border: 1px white solid;
  position: absolute;
  bottom: -8px;
  left: -11px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user input[type=file] {
  display: none;
}
.user .yesno {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user .edit-pic {
  background: transparent;
  width: 100px;
  height: 100px;
  padding: 0;
  position: relative;
}
.user .edit-pic .edit-pic-but {
  position: absolute;
  background: #eff0da;
  width: 50px;
  height: 50px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user .edit-pic .jam-pencil {
  color: #8a8184;
  position: relative;
}
.user input[type=text] {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  border-radius: 8px;
}
.user .edit {
  align-self: flex-end;
  border-radius: 50%;
  margin-right: 20px;
}
.user .done {
  background: #899c7d;
  color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.user .pic {
  width: 100px;
  height: 100px;
  position: relative;
}
.user .check-in-edit {
  padding: 10px 30px 10px 30px;
  align-self: stretch;
  background: white;
  text-align: left;
  box-shadow: 0 6px 25px rgba(138, 129, 132, 0.4);
  border-radius: 10px;
}
.user .check-in-edit h3 {
  margin-top: 2rem;
  color: rgba(138, 129, 132, 0.8);
}
.user .your-checkins {
  list-style: none;
  padding: 0;
}
.user .your-checkins li {
  background: #f1d0ca;
  position: relative;
  margin: 10px;
  box-shadow: 0 3px 10px rgba(227, 136, 130, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}
.user .your-checkins li .checkicon {
  width: 60px;
  height: 60px;
  margin: initial;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user .your-checkins li .delete {
  border-radius: 5px;
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  background: #e38882;
  box-shadow: 0 4px 10px rgba(99, 83, 88, 0.2);
}
.user button:not(.edit):not(.dropdown) {
  border-radius: 5rem;
  width: 100%;
  margin-bottom: 10px;
  color: white;
}
.user .add-checkin {
  background: #899c7d;
}
.user #logout-but {
  margin-top: 60px;
  margin-bottom: 100px;
  color: white;
  border-radius: 5rem;
  width: 95%;
  background: #d55c5a;
}
.user .add-panel {
  margin: 40px 30px 40px 30px;
}
.user .add-panel textarea {
  width: 95%;
  padding: 20px;
}
.user .add-panel ul {
  list-style: none;
  padding: 0;
  width: 75%;
  margin: auto;
  margin-bottom: 55px;
  position: relative;
}
.user .add-panel ul li {
  display: content;
}
.user .add-panel ul li button {
  height: initial;
}
.user .add-panel ul li button .jam {
  margin: 0;
  margin-right: 20px;
}
.user .add-panel ul li button .jam-chevron-down {
  margin: 0;
  margin-left: auto;
}
.user .add-panel ul li:not(:first-child) {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 8;
}
.user .add-panel ul li:nth-child(2) {
  bottom: -100%;
}
.user .add-panel ul li:nth-child(3) {
  bottom: -200%;
}

.jam.checkicon {
  margin: 20px;
  border-radius: 5px;
  padding: 2px;
}
.jam.checkicon.jam-write {
  color: #eff0da;
  background: #d55c5a;
}
.jam.checkicon.jam-brightness {
  color: #eff0da;
  background: #91ceec;
}
.jam.checkicon.jam-ruler {
  color: #eff0da;
  background: #9fc6c1;
}

.checkin {
  background: #886766;
  color: white;
}
.checkin.modal {
  animation-delay: 0.5s;
  padding: 40px;
  background: #eff0da;
  z-index: 10;
}
.checkin.modal .checkin-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.checkin.modal .checkin-content .progress-bar {
  position: relative;
  margin: initial;
}
.checkin.modal .yesno {
  padding: 20px 0 20px;
}
.checkin.modal .ci-question {
  width: 100%;
}
.checkin.modal .bg {
  background: #886766;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.checkin.modal > *:not(h1) {
  margin: 20px;
}
.checkin.modal > *:not(h1):not(.bg):not(.bg-texture) {
  position: relative;
}
.checkin.modal h1 {
  position: absolute;
  top: -6rem;
}
.checkin.modal h1.title {
  top: -4rem;
}
.checkin.modal h1 .highlight {
  position: absolute;
  z-index: 0;
  top: 2rem;
  bottom: 0;
  left: -0.5rem;
  right: -0.5rem;
  background: linear-gradient(to top, white, #eff0da);
}
.checkin.modal h1 span {
  z-index: 1;
  position: relative;
}
.checkin.modal #submit {
  flex: none;
  border-radius: 50%;
  border: 3px solid #9fc6c1;
  margin: 40px;
}

.feelings {
  width: 100%;
  height: 100px;
  color: #8a8184;
  margin: 0 auto;
  padding: 20px;
  background: #fcfcfc;
  text-align: left;
  overflow: hidden;
  word-break: break-all;
  outline: none;
}

.mood-measurer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  position: relative;
  padding: 40px;
}
.mood-measurer .indicator {
  position: absolute;
  left: 92%;
  top: -30px;
  padding: 0px 20px 0px 20px;
  background: #eff0da;
  color: #e38882;
  font-weight: 600;
  box-shadow: 0 3px 20px rgba(138, 129, 132, 0.4);
}
.mood-measurer .indicator:before {
  content: "";
  position: absolute;
  background: #eff0da;
  width: 15px;
  height: 15px;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
}
.mood-measurer .num {
  display: inline-flex;
  justify-content: inherit;
  margin: 15px 26px 0 26px;
}
.mood-measurer small {
  color: white;
}
.mood-measurer input {
  appearance: none;
  outline: none;
  border-radius: 0.25rem;
  position: relative;
}
.mood-measurer input::-webkit-slider-thumb {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #9fc6c1;
  border: 0.2em solid white;
  border-radius: 50%;
  -webkit-appearance: none;
}
.mood-measurer input::-moz-range-thumb {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #9fc6c1;
  border: 0.2em solid white;
  border-radius: 50%;
  -webkit-appearance: none;
}
.mood-measurer input::-ms-thumb {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #9fc6c1;
  border: 0.2em solid white;
  border-radius: 50%;
  -webkit-appearance: none;
}
.mood-measurer input::-webkit-slider-runnable-track {
  box-shadow: inset 0 0 0px 26px #e38882;
}
.mood-measurer input::-moz-range-track {
  box-shadow: inset 0 0 0px 26px #e38882;
}
.mood-measurer input::-ms-track {
  box-shadow: inset 0 0 0px 26px #e38882;
}

.yesno {
  display: flex;
  width: 100%;
}
.yesno button {
  flex: auto;
  border-radius: 3rem;
  margin: 0 10px 0 10px;
}
.yesno button .jam {
  color: white;
}
.yesno .yes {
  background: #9fc6c1;
}
.yesno .no {
  background: #e38882;
}
.yesno .selected {
  transform: scale(1.05);
  filter: contrast(1.4);
  box-shadow: 0 2px 15px -5px rgba(244, 222, 218, 0.6);
}

.all-comments {
  transform-origin: top;
  animation: scaleDown 0.5s ease;
  margin: 0;
}

.checkin {
  background: #886766;
}
.checkin .comment-but {
  background: #d6b0b0;
  color: white;
}
.checkin .all-comments {
  background: #efece7;
  color: #907c85;
}

.thought {
  background: #eef2f3;
}
.thought .comment-but {
  background: #eae4e2;
}
.thought .all-comments {
  background: #f3ebe7;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 222, 218, 0.8);
  z-index: 20;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes scaleDown {
  0% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.modal {
  animation: fadeInUp 1s ease;
  animation-fill-mode: both;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  z-index: 20;
  position: absolute;
  background: #eff0da;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  box-shadow: 0 5px 30px rgba(138, 129, 132, 0.4);
}
.modal .title {
  font-size: 3rem;
}
.modal h2 {
  font-size: 1.2rem;
  font-weight: 300;
}
.modal .bg-texture.first {
  position: absolute;
  bottom: -120px;
  left: -180px;
}
.modal .bg-texture.second {
  position: absolute;
  right: -140px;
  top: -50px;
}

.home-page {
  background: #eff0da;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e38882;
  text-align: center;
}
.home-page .bg-texture {
  pointer-events: none;
  position: absolute;
  height: 80%;
  top: 0;
  mix-blend-mode: darken;
}
.home-page h2 {
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 3rem;
}
.home-page p {
  font-size: 1.5rem;
  max-width: 500px;
}
.home-page button {
  background: #899c7d;
  color: #eff0da;
  border-radius: 5rem;
  margin: 2rem;
  margin-bottom: 0;
  max-width: 80vw;
  width: 160px;
  height: 80px;
}
.home-page .buts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-page .signup-but {
  background: #e38882;
  box-shadow: 0 5px 20px rgba(213, 92, 90, 0.2);
}
.home-page .login-but {
  background: #899c7d;
  box-shadow: 0 5px 20px rgba(137, 156, 125, 0.2);
}
.home-page .login-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 25px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 800px;
}
.home-page .login-page input {
  height: 20vh;
  max-height: 70px;
  padding: 20px;
  margin: 20px;
}
.home-page .login-page h2 {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left;
  align-self: flex-start;
  margin-top: 120px;
  margin-left: 3rem;
  margin-right: 3rem;
}
.home-page .login-page .signup-but,
.home-page .login-page .login-but {
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
  width: initial;
}
.home-page .back-but {
  position: absolute;
  top: -100px;
  left: -20px;
  margin: 0;
  width: 80px;
  height: 80px;
  background: transparent;
}
.home-page .back-but .jam {
  font-size: 2.2rem;
}

@media screen and (max-height: 610px) {
  .login-page h2 {
    font-size: 1.9rem !important;
  }
}
.progress-bar {
  position: absolute;
  width: 80%;
  height: 8px;
  background: #635358;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5px;
}
.progress-bar .progress {
  width: 25%;
  height: 100%;
  border-radius: inherit;
  background: #e38882;
  transition: width 0.5s linear;
}

.modal.user-page .pic {
  height: 180px;
  width: 180px;
  position: relative;
}
.modal.user-page .pic:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #8a8184;
}
.modal.user-page .action-buts {
  display: flex;
  flex-wrap: wrap;
}
.modal.user-page button:not(.close) {
  width: 100%;
}

.profile-bio {
  color: #8a8184;
  margin-bottom: 2rem;
}

.modal.network .close,
.modal.user-page .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
.modal.network .close .jam-close,
.modal.user-page .close .jam-close {
  font-size: 2rem;
  color: #8a8184;
}

.modal.network {
  width: 95%;
  padding: 20px;
  top: 5%;
  bottom: initial;
  max-height: 90%;
  /* display: inline; */
  padding-top: 50px;
  height: initial;
}
.modal.network .plant {
  position: absolute;
  top: -35px;
  height: 60px;
}
.modal.network .scrolling-row {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}
.modal.network .scrolling-row .preview {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
}
.modal.network .scrolling-row .preview .pic {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
}
.modal.network .scrolling-row .preview .yesno {
  width: 100%;
  margin-bottom: 10px;
}
.modal.network .scrolling-row .preview .yesno button {
  height: 50px;
}
.modal.network .add-friend {
  padding: 5px;
  padding-top: 20px;
  border-radius: 8px;
  background: #f4deda;
  width: 100%;
  margin: 20px 0 20px;
  box-shadow: 0 2px 15px rgba(227, 136, 130, 0.5);
}
.modal.network .invite-friend {
  padding: 5px;
  padding-top: 20px;
  border-radius: 8px;
  background: #bd9595;
  color: white;
  width: 100%;
  box-shadow: 0 2px 15px rgba(138, 129, 132, 0.5);
}
.modal.network .network-input {
  background: white;
  border-radius: 8px;
  margin: 10px;
  display: flex;
}
.modal.network .network-input input {
  padding: 20px;
  background: transparent;
  flex: auto;
}
.modal.network .network-input button {
  background: #e38882;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 50px;
  width: 100px;
}

.onboarding {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e38882;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #635358;
}
.onboarding h1,
.onboarding h2 {
  color: #d55c5a;
}
.onboarding h1 {
  font-size: 300%;
}
.onboarding h2 {
  font-size: 200%;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(70px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slideInBottom {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.home-page .plants {
  animation: slideInRight 0.3s ease 0s 1 normal both;
}
.home-page .home-content h2,
.home-page .home-content p {
  animation: slideInLeft 0.5s ease 0.3s 1 normal both;
}
.home-page .home-content .buts {
  animation: slideInBottom 0.5s ease-in 0.5s 1 normal both;
}

@keyframes dropdown {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(180deg);
  }
}
.page {
  animation-fill-mode: both;
  background: rgba(255, 255, 255, 0.9);
  margin: 20px;
  max-width: 700px;
  max-height: 850px;
  box-shadow: 0 10px 50px -15px rgba(99, 83, 88, 0.8);
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  padding: 40px 80px 120px 80px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
.page img {
  align-self: center;
  width: 90%;
  max-height: 350px;
  object-fit: contain;
}
.page .categories {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background: rgba(138, 129, 132, 0.22);
  padding: 20px;
  border-radius: 10px;
}
.page .categories button:not(.cont-onboarding) {
  width: initial;
  flex: 0 0 auto;
  margin-bottom: 10px;
  color: #eff0da;
  border-radius: inherit;
  text-align: left;
  padding-left: 40px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.page .categories .mindful {
  background: #487d83;
  box-shadow: 0 10px 25px 5px rgba(72, 125, 131, 0.2);
}
.page .categories .mindful.ob-cat {
  box-shadow: 0 10px 25px 5px rgba(72, 125, 131, 0.5);
}
.page .categories .mindful button {
  background: #487d83;
  margin-bottom: 0;
}
.page .categories .mindful .ob-cat-opt {
  background: #487d83;
}
.page .categories .relaxation {
  background: #60895c;
  box-shadow: 0 10px 25px 5px rgba(96, 137, 92, 0.2);
}
.page .categories .relaxation.ob-cat {
  box-shadow: 0 10px 25px 5px rgba(96, 137, 92, 0.5);
}
.page .categories .relaxation button {
  background: #60895c;
  margin-bottom: 0;
}
.page .categories .relaxation .ob-cat-opt {
  background: #60895c;
}
.page .categories .social {
  background: #754067;
  box-shadow: 0 10px 25px 5px rgba(117, 64, 103, 0.2);
}
.page .categories .social.ob-cat {
  box-shadow: 0 10px 25px 5px rgba(117, 64, 103, 0.5);
}
.page .categories .social button {
  background: #754067;
  margin-bottom: 0;
}
.page .categories .social .ob-cat-opt {
  background: #754067;
}
.page .categories .stress {
  background: #ab393c;
  box-shadow: 0 10px 25px 5px rgba(171, 57, 60, 0.2);
}
.page .categories .stress.ob-cat {
  box-shadow: 0 10px 25px 5px rgba(171, 57, 60, 0.5);
}
.page .categories .stress button {
  background: #ab393c;
  margin-bottom: 0;
}
.page .categories .stress .ob-cat-opt {
  background: #ab393c;
}
.page .categories .physical {
  background: #d98250;
  box-shadow: 0 10px 25px 5px rgba(217, 130, 80, 0.2);
}
.page .categories .physical.ob-cat {
  box-shadow: 0 10px 25px 5px rgba(217, 130, 80, 0.5);
}
.page .categories .physical button {
  background: #d98250;
  margin-bottom: 0;
}
.page .categories .physical .ob-cat-opt {
  background: #d98250;
}
.page .categories .ob-cat {
  flex: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
}
.page .categories .ob-cat .jam-chevron-down {
  animation: dropdown 0.3s ease;
  animation-fill-mode: both;
}
.page .categories .ob-cat button:first-child:hover {
  transform: none;
}
.page .categories .ob-cat .ob-cat-opt {
  align-items: center;
  padding-left: 1rem;
  justify-content: flex-start;
  margin-bottom: 0;
}
.page .categories .ob-cat .ob-cat-opt:first-child {
  position: relative;
}
.page .categories .ob-cat .ob-cat-opt:first-child:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(90deg);
}
.page #tags {
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 20px;
  background: #fafafa;
  margin: auto;
}
.page #tag-typer {
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
  margin-right: -25px;
  width: 100px;
  background-color: transparent;
  font-size: 20px;
  color: #333;
}
.page.one h1, .page.six h1 {
  margin-bottom: 0;
}
.page.one p, .page.six p {
  margin-bottom: 2rem;
  margin-top: 0;
}
.page.two {
  justify-content: center;
}
.page.two h2 {
  width: 60%;
  min-width: 180px;
}
.page.three {
  margin: 40px 50px 120px 50px;
}
.page.three h2 {
  margin-bottom: 0;
}
.page.three p {
  margin-bottom: 2rem;
}
.page.four > * {
  z-index: 1;
}
.page.four .bg-texture {
  position: absolute;
  top: 10px;
  right: -5px;
  width: initial;
  z-index: 0;
}
.page.five button, .page.six button {
  width: initial;
  border-radius: 15px;
  background: #8a8184;
  color: #eff0da;
}
.page.five {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 200px;
}
.page.five .notif-buts {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 40px;
  right: 40px;
}
.page.five .no {
  width: initial;
  background: transparent;
  color: #8a8184;
}
.page.six button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 80px);
  margin: 40px;
}
.page.six h2 {
  margin-bottom: 0;
}

.ob-cat .ob-cat-opt.selected {
  background: white !important;
  color: #635358 !important;
}

.cont-onboarding {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  background: #8a8184;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.cont-onboarding span {
  font-size: 2rem;
  color: white;
}

.error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.error-msg img {
  max-width: 250px;
  margin: 20px;
}
.error-msg p {
  margin-top: 0;
}

.dropdown {
  background: #e9e3e5;
  color: #8a8184;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.dropdown:hover {
  transform: none;
}
.dropdown .jam-chevron-down {
  margin-right: 5px;
  margin-left: auto;
}

.network h2.friend-result-heading {
  color: #8a8184;
  text-align: left;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.friend-results {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.friend-results .friend-result {
  width: initial;
  height: initial;
  display: flex;
  height: 85px;
  margin-bottom: 2px;
  flex: none;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
}
.friend-results .friend-result .pic {
  margin-left: 15px;
  margin-right: 20px;
}
.friend-results .friend-result h3 {
  color: #635358;
  font-weight: 400;
}
.friend-results .friend-result button {
  margin-left: auto;
  background: #e38882;
  color: white;
  border-radius: 8px;
}

/*# sourceMappingURL=App.css.map */
