@import url("https://fonts.googleapis.com/css?family=Quicksand:500");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");

$light: #eff0da;
$lighter-pink: #f4deda;
$light-pink: #f1d0ca;
$pink: #e38882;
$red: #d55c5a;
$green: #9fc6c1;
$dark-green: #899c7d;
$blue: #91ceec;
$dark-blue: #63a0da;
$dark: #8a8184;
$brown: #886766;
$black: #635358;

$feed-padding: 20px;
$nav-height: 52px;

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: rgba($pink, 0.5);
  @include absolute;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: $black;
}

h1,
.profile-name {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: $dark;
}

.profile-name {
  margin: $feed-padding;
  text-transform: initial;
  font-size: 1.5rem;
  color: $black;
}

.jam {
  font-size: 1.5rem;
  position: relative;
}

button {
  border: none;
  height: 70px;
  width: 70px;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.3s ease;
  background: white;
  cursor: pointer;
  &:hover {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(0.97);
  }
  &:disabled {
    opacity: 0.65;
    transform: none;
  }
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

textarea {
  resize: none;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

*::-webkit-input-placeholder {
  opacity: 0.6;
}
*:-moz-placeholder {
  opacity: 0.6;
}
*::-moz-placeholder {
  opacity: 0.6;
}
*:-ms-input-placeholder {
  opacity: 0.6;
}
*::-ms-input-placeholder {
  opacity: 0.6;
}
*::placeholder {
  opacity: 0.6;
}

.container {
  @include absolute;
  overflow-y: scroll;
}

.bg {
  @include absolute;
  position: fixed;
  transition: all 1s ease;
  z-index: -2;
}

.feed + .bg {
  background: $light-pink;
}

.network + .bg {
  background: rgba(#d3d7c2, 0.9);
}

.user + .bg {
  background: rgba(#deebf4, 0.9);
}

.main-bg-texture {
  position: fixed;
  mix-blend-mode: multiply;
  z-index: -1;
  top: 50px;
  height: 185px;
  width: 100%;
  opacity: 0.6;
  background-size: contain;
  background-image: url("./graphics/pattern.png");
}

.main-nav {
  z-index: 2;
  background: $light-pink;
  position: fixed;
  height: $nav-height;
  width: 100%;
  box-shadow: 0 0 30px rgba($pink, 0.3);
  .nav-content {
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 800px;
    margin: auto;
    .nav-but-container {
      height: 100%;
      flex: auto;
      display: flex;
      position: relative;
      button:first-child {
        border-radius: 2rem 0 0 0;
      }
      button:nth-child(3) {
        border-radius: 0 2rem 0 0;
      }
    }
    .indicator {
      width: 33%;
      height: 5px;
      position: absolute;
      bottom: 0;
      transition: all 0.3s ease;
    }
    .feed-but {
      color: #e38882;
      &:hover {
        background: $lighter-pink;
        transform: none;
        filter: none;
      }
      &.activate {
        background: $lighter-pink;
        animation: fadeNav1 0.3s ease 0.1s 1 normal both;
      }
    }
    .network-but {
      color: #84b3a0;
      &:hover {
        background: #d2e7e4;
        transform: none;
        filter: none;
      }
      &.activate {
        background: #d2e7e4;
        animation: fadeNav2 0.3s ease 0.1s 1 normal both;
      }
    }
    .user-but {
      color: #97c2d4;
      &:hover {
        background: #d8e7ee;
        transform: none;
        filter: none;
      }
      &.activate {
        background: #d8e7ee;
        animation: fadeNav3 0.3s ease 0.1s 1 normal both;
      }
    }
    .activate {
      .jam {
        margin-right: 0.5rem;
      }
    }
    button {
      flex: auto;
      border: none;
      height: inherit;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo-img {
      height: 70%;
      margin: 10px;
    }
    .logo {
      margin-right: auto;
      color: $dark;
      font-weight: 700;
      .sublogo {
        margin-left: 15px;
        margin-right: 50px;
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .main-nav .nav-content .nav-but-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
  }
}

@keyframes fadeNav1 {
  0% {
    color: transparent;
  }
  100% {
    color: #e38882;
  }
}
@keyframes fadeNav2 {
  0% {
    color: transparent;
  }
  100% {
    color: #85d0c6;
  }
}
@keyframes fadeNav3 {
  0% {
    color: transparent;
  }
  100% {
    color: #94cdea;
  }
}

section {
  margin: auto;
  margin-top: $nav-height * 1.5;
  max-width: 800px;
  padding: $feed-padding;
}

.pic {
  background: $dark;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: url("./graphics/ppf.png");
  background-size: cover;
}

.thought-provoker {
  h1 {
    color: $black;
    text-transform: initial;
  }
  p {
    font-size: 1.2rem;
  }
  .bold {
    font-weight: 700;
  }
}

.feed {
  padding: 0 $feed-padding 0 $feed-padding;
}

.create-thought {
  position: relative;
  display: flex;
  flex-direction: column;
  textarea {
    width: 100%;
    padding: $feed-padding;
    margin-bottom: $feed-padding/1.5;
    border-radius: 2rem;
  }
  #update {
    align-self: flex-end;
    background: $dark-green;
    color: white;
    padding: $feed-padding;
    width: 7rem;
    border-radius: 2rem;
    margin-right: $feed-padding;
  }

  &:before,
  &:after {
    content: "";
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 75px;
    left: -5px;
    width: 25px;
    height: 25px;
  }
  &:after {
    bottom: 60px;
    left: -20px;
    width: 13px;
    height: 13px;
  }
}

.activity {
  animation: fadeTile 0.3s ease-in-out both;
  margin: $feed-padding * 2;
  box-shadow: 0 8px 30px rgba($dark, 0.2);
  border-radius: 10px;
  overflow: hidden;

  .comment-but {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $pink;
    transform: none;

    .jam {
      margin-right: 12px;
    }
  }
  .header {
    padding: $feed-padding;
    display: flex;
    align-items: center;
    .name {
      margin-left: 20px;
      font-weight: 700;
    }
    .date {
      margin-left: 20px;
      margin-top: 5px;
      font-size: 0.8rem;
      opacity: 0.5;
    }
  }
  .content {
    padding: $feed-padding;
    padding-top: 0;
  }
  .comment {
    opacity: 0.8;
  }

  .name-date,
  .name-date div {
    display: flex;
    justify-content: flex-start;
  }

  .name-date {
    flex-direction: column;
  }

  .name-date + button {
    margin-left: auto;
  }

  .check-in-q {
    margin-bottom: 1.2rem;
  }

  .mood {
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: $feed-padding;
    margin-top: 0;
  }

  .mood-icon {
    display: inline-block;
    flex: none;
    background: $green;
    box-shadow: 0 5px 20px rgba($dark-green, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 1rem;
    &.number {
      background: $blue;
      box-shadow: 0 5px 20px rgba($dark-blue, 0.5);
    }
    &.no {
      background: $pink;
      box-shadow: 0 5px 20px rgba($red, 0.5);
    }
  }
}

.user-edit,
.user-filter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba($lighter-pink, 0.1);
  margin-left: $feed-padding;
  &:hover {
    transform: none;
    background: rgba($pink, 0.5);
  }
}

.checkin.activity .header .jam {
  color: rgba(white, 0.8);
}

.thought.activity .header .jam {
  color: $dark;
}

.thought {
  background: $light-pink;
}

.thought,
.all-comments {
  display: flex;
  flex-direction: column;

  .header,
  .comment,
  .reply {
    background: transparent;
  }
  .comment,
  .reply {
    display: flex;
    max-width: 70%;
    .bubble {
      padding: $feed-padding;
      margin: $feed-padding/3;
      box-shadow: 0 10px 35px -5px rgba($black, 0.15);
    }
    .pic {
      flex: none;
      margin: 10px;
    }
  }
  .comment {
    flex-direction: row-reverse;
    align-self: flex-end;
    .bubble {
      text-align: right;
      border-radius: 3rem 3rem 0 3rem;
      color: $light;
    }
    .pic {
      align-self: flex-end;
    }
  }
  .reply {
    align-self: flex-start;
    .bubble {
      border-radius: 0 3rem 3rem 3rem;
      background: white;
      color: $black;
    }
  }
}

.thought .comment .bubble {
  background: $dark-green;
}

.checkin .all-comments .comment .bubble {
  background: $black;
}

.leave-comment {
  background: white;
  display: flex;
  textarea {
    flex: auto;
    padding: 24px;
    box-shadow: none;
  }
  button {
    height: $feed-padding * 3.5;
    border: none;
    border-radius: 0;
  }
}

.network {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 0;
  }
  .header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: $feed-padding;

    .search-bar {
      flex: auto;
      display: flex;

      border-radius: 5rem;
      background: white;
      overflow: hidden;
      /* padding: 0 5px 0 5px; */
      padding-left: 10px;
      /* height: 70px; */
      margin-right: 35px;

      input {
        flex: auto;
        padding: $feed-padding;
      }
      button {
        height: 100%;
      }
    }

    #add-friends {
      border-radius: 8px;
      height: 100%;
      width: 100px;
      background: $red;
      color: white;
    }
  }
  .friends {
    display: flex;
    flex-direction: column;
  }
  .friend {
    background: rgba($lighter-pink, 0.6);
    display: flex;
    align-items: center;
    padding-left: $feed-padding;
    margin-bottom: 1px;
    animation: fadeTile 0.3s ease-in-out both;
    width: initial;
    button {
      background: transparent;
      margin-left: auto;
    }
    span {
      margin-left: $feed-padding;
      color: $black;
    }
  }
}

@for $i from 1 through 12 {
  .friend,
  .activity {
    // :nth-child(1-12)
    &:nth-child(#{$i}) {
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (0.03s);
    }
  }
}

@keyframes fadeTile {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.alert {
  background: $red;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  line-height: 18px;
  border: 1px white solid;
  position: absolute;
  bottom: -8px;
  left: -11px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="file"] {
    display: none;
  }

  .yesno {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .edit-pic {
    background: transparent;
    width: 100px;
    height: 100px;
    padding: 0;
    position: relative;
    .edit-pic-but {
      position: absolute;
      background: $light;
      width: 50px;
      height: 50px;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .jam-pencil {
      color: $dark;
      position: relative;
    }
  }
  input[type="text"] {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    border-radius: 8px;
  }
  .edit {
    align-self: flex-end;
    border-radius: 50%;
    margin-right: $feed-padding;
  }
  .done {
    background: #899c7d;
    color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .pic {
    width: 100px;
    height: 100px;
    position: relative;
  }
  .check-in-edit {
    padding: 10px 30px 10px 30px;
    align-self: stretch;
    background: white;
    text-align: left;
    box-shadow: 0 6px 25px rgba($dark, 0.4);
    border-radius: 10px;

    h3 {
      margin-top: 2rem;
      color: rgba($dark, 0.8);
    }
  }

  .your-checkins {
    list-style: none;
    padding: 0;
    li {
      background: $light-pink;
      position: relative;
      margin: $feed-padding/2;
      box-shadow: 0 3px 10px rgba($pink, 0.4);
      border-radius: 5px;
      display: flex;
      justify-content: flex-start;
      padding: 0;
      align-items: center;
      .checkicon {
        width: 60px;
        height: 60px;
        margin: initial;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .delete {
        border-radius: 5px;
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        right: 0;
        background: #e38882;
        box-shadow: 0 4px 10px rgba($black, 0.2);
      }
    }
  }
  button:not(.edit):not(.dropdown) {
    border-radius: 5rem;
    width: 100%;
    margin-bottom: 10px;
    color: white;
  }
  .add-checkin {
    background: $dark-green;
  }
  #logout-but {
    margin-top: 60px;
    margin-bottom: 100px;
    color: white;
    border-radius: 5rem;
    width: 95%;
    background: $red;
  }

  .add-panel {
    margin: 40px 30px 40px 30px;

    textarea {
      width: 95%;
      padding: 20px;
    }
    ul {
      list-style: none;
      padding: 0;
      width: 75%;
      margin: auto;
      margin-bottom: 55px;
      position: relative;
      li {
        display: content;
        button {
          height: initial;
          .jam {
            margin: 0;
            margin-right: 20px;
          }
          .jam-chevron-down {
            margin: 0;
            margin-left: auto;
          }
        }
      }
      li:not(:first-child) {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 8;
      }
      li:nth-child(2) {
        bottom: -100%;
      }
      li:nth-child(3) {
        bottom: -200%;
      }
    }
  }
}

.jam.checkicon {
  margin: $feed-padding;
  border-radius: 5px;
  padding: 2px;
  &.jam-write {
    color: $light;
    background: $red;
  }
  &.jam-brightness {
    color: $light;
    background: $blue;
  }
  &.jam-ruler {
    color: $light;
    background: $green;
  }
}

.checkin {
  background: $brown;
  color: white;
  &.modal {
    animation-delay: 0.5s;
    padding: $feed-padding * 2;
    background: $light;
    z-index: 10;
    .checkin-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .progress-bar {
        position: relative;
        margin: initial;
      }
      .front-butts {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-left: 1rem; */
        /* margin-right: 1rem; */
        padding: 0 1rem 0 1rem;
        #submit {
          width: initial;
          border-radius: 10px;
          margin: 0;
        }
        .remind {
          background: transparent;
          color: white;
          font-weight: 500;
          width: initial;
          height: 100px;
        }
      }
    }
    .yesno {
      padding: $feed-padding 0 $feed-padding;
    }
    .ci-question {
      width: 100%;
      &.front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 50%;
          margin-bottom: 1rem;
        }
      }
    }
    .bg {
      background: $brown;
      @include absolute;
      z-index: 0;
    }
    > *:not(h1) {
      margin: $feed-padding;
    }
    > *:not(h1):not(.bg):not(.bg-texture) {
      position: relative;
    }
    h1 {
      position: absolute;
      top: -6rem;
      &.title {
        top: -4rem;
      }
      .highlight {
        position: absolute;
        z-index: 0;
        top: 2rem;
        bottom: 0;
        left: -0.5rem;
        right: -0.5rem;
        background: linear-gradient(to top, white, $light);
      }
      span {
        z-index: 1;
        position: relative;
      }
    }
    #submit {
      flex: none;
      border-radius: 50%;
      border: 3px solid $green;
      margin: 40px;
    }
  }
}

.feelings {
  width: 100%;
  height: 100px;
  color: $dark;
  margin: 0 auto;
  padding: 20px;
  background: #fcfcfc;
  text-align: left;
  overflow: hidden;
  word-break: break-all;
  outline: none;
}

@mixin sliderThumb() {
  &::-webkit-slider-thumb {
    @content;
  }
  &::-moz-range-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
}

@mixin sliderTrack() {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}

.mood-measurer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  position: relative;
  padding: $feed-padding * 2;

  .indicator {
    position: absolute;
    left: 92%;
    top: -30px;
    padding: 0px 20px 0px 20px;
    background: $light;
    color: $pink;
    font-weight: 600;
    box-shadow: 0 3px 20px rgba($dark, 0.4);
    &:before {
      content: "";
      position: absolute;
      background: $light;
      width: 15px;
      height: 15px;
      bottom: -7px;
      left: 0;
      right: 0;
      margin: auto;
      transform: rotate(45deg);
    }
  }

  .num {
    display: inline-flex;
    justify-content: inherit;
    margin: 15px 26px 0 26px;
  }
  small {
    color: white;
  }
  input {
    appearance: none;
    outline: none;
    border-radius: 0.25rem;
    position: relative;
    @include sliderThumb {
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      background-color: $green;
      border: 0.2em solid white;
      border-radius: 50%;
      -webkit-appearance: none;
    }

    @include sliderTrack {
      box-shadow: inset 0 0 0px 26px $pink;
    }
  }
}

.yesno {
  display: flex;
  width: 100%;
  button {
    flex: auto;
    border-radius: 3rem;
    margin: 0 10px 0 10px;
    .jam {
      color: white;
    }
  }
  .yes {
    background: $green;
  }
  .no {
    background: $pink;
  }

  .selected {
    transform: scale(1.05);
    filter: contrast(1.4);
    box-shadow: 0 2px 15px -5px rgba($lighter-pink, 0.6);
  }
}

.all-comments {
  transform-origin: top;
  animation: scaleDown 0.5s ease;
  margin: 0;
}

.checkin {
  background: $brown;
  .comment-but {
    background: #d6b0b0;
    color: white;
  }
  .all-comments {
    background: #efece7;
    color: #907c85;
  }
}

.thought {
  background: #eef2f3;
  .comment-but {
    background: #eae4e2;
  }
  .all-comments {
    background: #f3ebe7;
  }
}

.modal-bg {
  @include absolute;
  background: rgba($lighter-pink, 0.8);
  z-index: 20;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes scaleDown {
  0% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.modal {
  animation: fadeInUp 1s ease;
  animation-fill-mode: both;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  z-index: 20;
  position: absolute;
  background: $light;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  box-shadow: 0 5px 30px rgba($dark, 0.4);
  .title {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .bg-texture.first {
    position: absolute;
    bottom: -120px;
    left: -180px;
  }
  .bg-texture.second {
    position: absolute;
    right: -140px;
    top: -50px;
  }
}

.home-page {
  background: $light;
  @include absolute;
  padding: $feed-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $pink;
  text-align: center;

  .bg-texture {
    pointer-events: none;
    position: absolute;
    height: 80%;
    top: 0;
    mix-blend-mode: darken;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
    max-width: 500px;
  }
  button {
    background: $dark-green;
    color: $light;
    border-radius: 5rem;
    margin: 2rem;
    margin-bottom: 0;
    width: 160px;
    height: 80px;
  }

  .buts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .signup-but {
    background: $pink;
    box-shadow: 0 5px 20px rgba($red, 0.2);
    flex: 1 0 160px;

    max-height: 80px;
  }

  .login-but {
    background: $dark-green;
    box-shadow: 0 5px 20px rgba($dark-green, 0.2);
    flex: 1 0 160px;

    max-height: 80px;
  }
  .login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;

    input {
      flex: auto;
      height: 20vh;
      max-height: 60px;
      padding: $feed-padding;
      margin: $feed-padding;
      margin-left: 7px;
      margin-right: 7px;
      border-radius: 5px;
      border: $dark solid 1px;
    }
    .pass-input {
      display: flex;
      align-items: center;
    }
    .hidePassword {
      width: 65px;
      height: 65px;
      background: transparent;
      color: $dark;
      margin: 0;
      flex: none;
    }
    small {
      text-align: left;
      color: $dark;
    }
    .error {
      color: $red;
    }
    h2 {
      position: relative;
      font-size: 2.5rem;
      margin-bottom: 5px;
      text-align: left;
      align-self: flex-start;
      margin-top: 11vh;
      margin-left: 0;
      margin-right: 0;
    }

    .sign-up-header {
      margin-top: 120px;
    }
    .signup-but,
    .login-but {
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
      width: initial;
    }
  }
  .back-but {
    position: absolute;
    top: -100px;
    left: -20px;
    margin: 0;
    width: 80px;
    height: 80px;
    background: transparent;
    .jam {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-height: 610px) {
  .home-page {
    .plants {
      max-height: 15vh;
    }
  }
  .login-page {
    h2 {
      font-size: 1.9rem !important;
    }
  }
}

.progress-bar {
  position: absolute;
  height: 8px;
  background: $black;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5px;
  .progress {
    width: 25%;
    height: 100%;
    border-radius: inherit;
    background: $pink;
    transition: width 0.5s linear;
  }
}

.modal.user-page {
  .pic {
    height: 180px;
    width: 180px;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-radius: 50%;
      background: transparent;
      border: 1px solid $dark;
    }
  }
  .action-buts {
    display: flex;
    flex-wrap: wrap;
  }
  button:not(.close) {
    width: 100%;
  }
}

.profile-bio {
  color: $dark;
  margin-bottom: 2rem;
}

.modal.network .close,
.modal.user-page .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  .jam-close {
    font-size: 2rem;
    color: $dark;
  }
}

.modal.network {
  width: 95%;
  padding: $feed-padding;
  top: 5%;
  bottom: initial;
  max-height: 90%;
  /* display: inline; */
  padding-top: 50px;
  height: initial;

  .plant {
    position: absolute;
    top: -35px;
    height: 60px;
  }

  .scrolling-row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    .preview {
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 10px;
      margin-right: 10px;
      box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      .pic {
        height: 100px;
        width: 100px;
        margin: auto;
        margin-top: 10px;
      }
      .yesno {
        width: 100%;
        margin-bottom: 10px;
        button {
          height: 50px;
        }
      }
    }
  }
  .add-friend {
    padding: 5px;
    padding-top: 20px;
    border-radius: 8px;
    background: $lighter-pink;
    width: 100%;
    margin: 20px 0 20px;
    box-shadow: 0 2px 15px rgba($pink, 0.5);
  }
  .invite-friend {
    padding: 5px;
    padding-top: 20px;
    border-radius: 8px;
    background: #bd9595;
    color: white;
    width: 100%;
    box-shadow: 0 2px 15px rgba($dark, 0.5);
  }
  .network-input {
    background: white;
    border-radius: 8px;
    margin: 10px;
    display: flex;

    input {
      padding: 20px;
      background: transparent;
      flex: auto;
    }
    button {
      background: $pink;
      color: white;
      border-radius: 5px;
      margin: 5px;

      padding: 5px;
      height: 50px;
      width: 100px;
    }
  }
}

.onboarding {
  @include absolute;
  background: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  h2 {
    color: $red;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 200%;
  }
  color: $black;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(70px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.home-page {
  .plants {
    animation: slideInRight 0.3s ease 0s 1 normal both;
  }
  .home-content {
    h2,
    p {
      animation: slideInLeft 0.5s ease 0.3s 1 normal both;
    }
    .buts {
      animation: slideInBottom 0.5s ease-in 0.5s 1 normal both;
    }
  }
}

@mixin ob-cat-button($bg) {
  background: $bg;

  box-shadow: 0 10px 25px 5px rgba($bg, 0.2);

  &.ob-cat {
    box-shadow: 0 10px 25px 5px rgba($bg, 0.5);
  }

  button {
    background: $bg;
    margin-bottom: 0;
  }

  .ob-cat-opt {
    background: $bg;
  }
}

@keyframes dropdown {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(180deg);
  }
}

// @keyframes slideFromRight {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: none;
//   }
// }

.page {
  // animation: slideFromRight 0.3s ease;
  animation-fill-mode: both;
  background: rgba(white, 0.9);
  margin: $feed-padding;
  max-width: 700px;
  max-height: 850px;
  box-shadow: 0 10px 50px -15px rgba($black, 0.8);
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  padding: $feed-padding * 2 $feed-padding * 4 $feed-padding * 6 $feed-padding * 4;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  img {
    align-self: center;
    width: 90%;
    max-height: 350px;
    object-fit: contain;
  }
  .categories {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    background: rgba($dark, 0.22);
    padding: 20px;
    border-radius: 10px;
    button:not(.cont-onboarding) {
      width: initial;
      flex: 0 0 auto;
      margin-bottom: $feed-padding/2;
      color: $light;
      border-radius: inherit;
      text-align: left;
      padding-left: 40px;
      font-size: 1.1rem;
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
    }
    .mindful {
      @include ob-cat-button(#487d83);
    }
    .relaxation {
      @include ob-cat-button(#60895c);
    }
    .social {
      @include ob-cat-button(#754067);
    }
    .stress {
      @include ob-cat-button(#ab393c);
    }
    .physical {
      @include ob-cat-button(#d98250);
    }
    .ob-cat {
      flex: none;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      margin-bottom: 20px;

      .jam-chevron-down {
        animation: dropdown 0.3s ease;
        animation-fill-mode: both;
      }
      button:first-child:hover {
        transform: none;
      }
      .ob-cat-opt {
        align-items: center;
        padding-left: 1rem;
        justify-content: flex-start;
        margin-bottom: 0;
        &:first-child {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  #tags {
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ccc inset;
    padding: $feed-padding;
    background: #fafafa;
    margin: auto;
  }
  #tag-typer {
    outline: none;
    border: none;
    padding: 6px;
    margin: 3px;
    margin-right: -25px;
    width: 100px;
    background-color: transparent;
    font-size: 20px;
    color: #333;
  }
  &.one,
  &.six {
    h1 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 2rem;
      margin-top: 0;
    }
  }
  &.two {
    justify-content: center;
    h2 {
      width: 60%;
      min-width: 180px;
    }
  }

  &.three {
    margin: 40px 50px 120px 50px;
    h2 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  .ob-butts {
    .back {
      margin-right: 52%;
    }
    .forward {
      margin-left: 52%;
    }
  }

  &.four {
    > * {
      z-index: 1;
    }

    .bg-texture {
      position: absolute;
      top: 10px;
      right: -5px;
      width: initial;
      z-index: 0;
    }
  }

  &.five button,
  &.six button {
    width: initial;
    border-radius: 15px;
    background: $dark;
    color: $light;
  }

  &.five {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 200px;
    .notif-buts {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 10px;
      left: 40px;
      right: 40px;
    }
    .no {
      width: initial;
      background: transparent;
      color: $dark;
    }
  }
  &.six {
    button {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 80px);
      margin: 40px;
    }
    h2 {
      margin-bottom: 0;
    }
  }
}

.ob-cat {
  .ob-cat-opt {
    &.selected {
      background: white !important;
      color: $black !important;
    }
  }
}

.cont-onboarding {
  position: absolute;
  bottom: $feed-padding;
  left: 0;
  right: 0;
  margin: auto;
  background: $dark;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  span {
    font-size: 2rem;
    color: white;
  }
}

.error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $feed-padding * 2;
  img {
    max-width: 250px;
    margin: 20px;
  }
  p {
    margin-top: 0;
  }
}

.dropdown {
  background: #e9e3e5;
  color: $dark;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: $feed-padding;
  width: 100%;

  &:hover {
    transform: none;
  }

  .jam-chevron-down {
    margin-right: 5px;
    margin-left: auto;
  }
}

.network h2.friend-result-heading {
  color: $dark;
  text-align: left;
  margin-top: $feed-padding * 2;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.friend-results {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .friend-result {
    width: initial;
    height: initial;
    display: flex;
    height: 85px;
    margin-bottom: 2px;
    flex: none;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    .pic {
      margin-left: 15px;
      margin-right: $feed-padding;
    }
    h3 {
      color: $black;
      font-weight: 400;
    }
    button {
      margin-left: auto;
      background: $pink;
      color: white;
      border-radius: 8px;
    }
  }
}
