@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,700");

$light: #eff0da;
$lighter-pink: #f4deda;
$light-pink: #f1d0ca;
$pink: #e38882;
$red: #d55c5a;
$green: #9fc6c1;
$dark-green: #899c7d;
$blue: #91ceec;
$dark: #8a8184;
$black: #635358;

$feed-padding: 20px;
$nav-height: 52px;

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: rgba($pink, 0.5);
  @include absolute;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: $black;
}

h1,
.profile-name {
  font-family: "Frank Ruhl Libre", serif;
  text-transform: uppercase;
  color: $dark;
}

.jam {
  font-size: 1.5rem;
  position: relative;
}

button {
  border: none;
  height: 70px;
  width: 70px;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.3s ease;
  background: white;
  &:hover {
    background: $light-pink;
  }
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.container {
  @include absolute;
}

.bg {
  @include absolute;
  background: $light-pink;
  z-index: -2;
}

.main-bg-texture {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: -1;
  top: 50px;
  height: 185px;
  width: 100%;
  opacity: 0.6;
  background-size: contain;
  background-image: url("./graphics/pattern.png");
}

.main-nav {
  z-index: 2;
  background: $light-pink;
  position: fixed;
  height: $nav-height;
  width: 100%;
  box-shadow: 0 0 30px rgba($pink, 0.3);
  .nav-content {
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 800px;
    margin: auto;
    button {
      flex: auto;
      border: none;
      height: inherit;
      border-radius: 0;
    }
    .logo-img {
      height: 70%;
      margin: 10px;
    }
    .logo {
      margin-right: auto;
      color: $dark;
      font-weight: 700;
      .sublogo {
        margin-left: 15px;
        margin-right: 50px;
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
  }
}

section {
  margin: auto;
  margin-top: $nav-height * 1.5;
  max-width: 800px;
}

.pic {
  background: $dark;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: url("./graphics/ppf.png");
  background-size: cover;
}

.feed {
  padding: 0 $feed-padding 0 $feed-padding;
}

.create-thought {
  position: relative;
  display: flex;
  flex-direction: column;
  textarea {
    width: 100%;
    padding: $feed-padding;
    margin-bottom: $feed-padding/1.5;
    border-radius: 2rem;
    resize: none;
  }
  #update {
    align-self: flex-end;
    background: $dark-green;
    color: white;
    padding: $feed-padding;
    width: 7rem;
    border-radius: 2rem;
    margin-right: $feed-padding;
  }

  &:before,
  &:after {
    content: "";
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 75px;
    left: -5px;
    width: 25px;
    height: 25px;
  }
  &:after {
    bottom: 60px;
    left: -20px;
    width: 13px;
    height: 13px;
  }
}

.activity {
  margin: $feed-padding * 2;
  box-shadow: 0 8px 30px rgba($dark, 0.2);

  .header {
    padding: $feed-padding;
    display: flex;
    align-items: center;
    .name {
      margin-left: 20px;
      font-weight: 700;
    }
    .date {
      margin-left: 20px;
      margin-top: 5px;
      font-size: 0.8rem;
    }
  }
  .content {
    padding: $feed-padding;
    padding-top: 0;
  }

  .name-date,
  .name-date div {
    display: flex;
    justify-content: flex-start;
  }

  .name-date {
    flex-direction: column;
  }

  .name-date + button {
    margin-left: auto;
  }

  .mood {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: $feed-padding;
    margin-top: 0;
  }

  .mood-icon {
    display: inline-block;
    background: $green;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 1rem;
  }
}

.user-edit {
  width: 50px;
  height: 50px;
  background: transparent;
  margin-left: $feed-padding;
}

.thought {
  display: flex;
  flex-direction: column;

  .header,
  .comment,
  .reply {
    background: $light;
  }
  .comment,
  .reply {
    padding: $feed-padding;
    margin: $feed-padding/3;
    display: inline-block;
    max-width: 70%;
  }
  .comment {
    text-align: right;
    align-self: flex-end;
    border-radius: 3rem 3rem 0 3rem;
    background: $dark-green;
    color: $light;
  }
  .reply {
    align-self: flex-start;
    border-radius: 0 3rem 3rem 3rem;
  }
}

.leave-comment {
  background: white;
  display: flex;
  input {
    flex: auto;
    padding-left: $feed-padding;
  }
  button {
    height: $feed-padding * 3.5;
    border: none;
    border-radius: 0;
  }
}

.network {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;

    .search-bar {
      flex: auto;
      display: flex;
      margin-right: 10px;
      input {
        flex: auto;
        padding: $feed-padding;
      }
    }
    margin-bottom: $feed-padding;
  }
  .friend {
    background: rgba($lighter-pink, 0.6);
    display: flex;
    align-items: center;
    padding-left: $feed-padding;
    margin-bottom: $feed-padding/2;
    button {
      background: transparent;
      margin-left: auto;
    }
    span {
      margin-left: $feed-padding;
    }
  }
}

.alert {
  background: $red;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  line-height: 18px;
  border: 1px white solid;
  position: absolute;
  bottom: -8px;
  left: -11px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="file"] {
    display: none;
  }

  .yesno {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .no {
      background: $pink;
      .jam-close {
        color: white;
      }
    }
  }

  .edit-pic {
    background: transparent;
    width: 100px;
    height: 100px;
    padding: 0;
    position: relative;
    .edit-pic-but {
      position: absolute;
      background: $light;
      width: 50px;
      height: 50px;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .jam-pencil {
      color: $dark;
      position: relative;
    }
  }
  .profile-name {
    margin: $feed-padding;
    text-transform: initial;
    font-size: 1.5rem;
  }
  input[type="text"] {
    font-family: "Frank Ruhl Libre", serif;
    text-align: center;
    border-radius: 8px;
  }
  .edit {
    align-self: flex-end;
    border-radius: 50%;
    margin-right: $feed-padding;
  }
  .done {
    background: #899c7d;
    color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .pic {
    width: 100px;
    height: 100px;
    position: relative;
  }
  .check-in-edit {
    margin: $feed-padding;
    align-self: stretch;
    background: $light-pink;
    text-align: center;
    box-shadow: 0 3px 15px rgba($pink, 0.4);

    .your-checkins {
      list-style: none;
      padding: 0;
      li {
        position: relative;
        padding: $feed-padding;
        margin: $feed-padding/2;
        box-shadow: 0 3px 10px rgba($pink, 0.4);
        .checkicon {
          position: absolute;
          width: 60px;
          height: 100%;
          top: 0;
          left: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .delete {
          position: absolute;
          width: 60px;
          height: 100%;
          top: 0;
          right: 0;
          background: #e38882;
          box-shadow: 0 4px 10px rgba($black, 0.2);
        }
      }
    }
    button {
      width: 100%;
      background: $dark-green;
      color: white;
    }
  }
  #logout-but {
    margin-top: $feed-padding;
    background: $pink;
    width: 100%;
  }

  .add-panel {
    textarea {
      width: 95%;
      resize: none;
      padding: 20px;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      width: 75%;
      margin: auto;
      position: relative;
      li {
        background: $light;
        border-radius: 1rem;
        padding: 0;
        border: 1px $dark solid;
        button {
          background: transparent;
          color: inherit;
          display: flex;
          align-items: center;

          .jam-chevron-down {
            margin-right: 20px;
            margin-left: auto;
          }
        }
      }
      li:not(:first-child) {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 8;
      }
      li:nth-child(2) {
        bottom: -100%;
      }
      li:nth-child(3) {
        bottom: -200%;
      }
    }
  }
}

.jam.checkicon {
  margin: $feed-padding;
  border-radius: 5px;
  &.jam-align-justify {
    color: $light;
    background: $red;
  }
  &.jam-brightness {
    color: $light;
    background: $blue;
  }
  &.jam-star {
    color: $light;
    background: $green;
  }
}

.checkin {
  background: $pink;
  color: white;
  &.modal {
    animation-delay: 0.5s;
    padding: $feed-padding * 2;
    background: $light;
    z-index: 10;
    .checkin-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    .yesno {
      padding: $feed-padding 0 $feed-padding;
    }
    .ci-question {
      width: 100%;
    }
    .bg {
      background: $pink;
      @include absolute;
      z-index: 0;
    }
    > *:not(h1) {
      margin: $feed-padding;
    }
    > *:not(h1):not(.bg):not(.bg-texture) {
      position: relative;
    }
    h1 {
      position: absolute;
      top: -6rem;
      &.title {
        top: -4rem;
      }
      .highlight {
        position: absolute;
        z-index: 0;
        top: 2rem;
        bottom: 0;
        left: -0.5rem;
        right: -0.5rem;
        background: linear-gradient(to top, white, $light);
      }
      span {
        z-index: 1;
        position: relative;
      }
    }
    #submit {
      flex: none;
      border-radius: 50%;
      border: 3px solid $green;
      margin: 40px;
    }
  }
}

.feelings {
  width: 100%;
  height: 100px;
  color: $dark;
  margin: 0 auto;
  padding: 20px;
  background: #fcfcfc;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
  word-break: break-all;
  outline: none;
}

@mixin sliderThumb() {
  &::-webkit-slider-thumb {
    @content;
  }
  &::-moz-range-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
}

@mixin sliderTrack() {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}

.mood-measurer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  position: relative;
  padding: $feed-padding * 2;

  .indicator {
    position: absolute;
    left: 92%;
    top: -30px;
    padding: 0px 20px 0px 20px;
    background: $light;
    color: $pink;
    font-weight: 600;
    box-shadow: 0 3px 20px rgba($dark, 0.4);
    &:before {
      content: "";
      position: absolute;
      background: $light;
      width: 15px;
      height: 15px;
      bottom: -7px;
      left: 0;
      right: 0;
      margin: auto;
      transform: rotate(45deg);
    }
  }

  .num {
    display: inline-flex;
    justify-content: inherit;
    margin: 15px 26px 0 26px;
  }
  small {
    color: white;
  }
  input {
    appearance: none;
    outline: none;
    border-radius: 0.25rem;
    position: relative;
    @include sliderThumb {
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      background-color: $green;
      border: 0.2em solid white;
      border-radius: 50%;
      -webkit-appearance: none;
    }

    @include sliderTrack {
      box-shadow: inset 0 0 0px 26px $pink;
    }
  }
}

.yesno {
  display: flex;
  width: 100%;
  button {
    flex: auto;
    border-radius: 3rem;
    margin: 0 10px 0 10px;
  }
  .yes {
    background: $green;
  }
  .no {
    background: $light-pink;
  }
}

.modal-bg {
  @include absolute;
  background: rgba($lighter-pink, 0.8);
  z-index: 20;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.modal {
  animation: fadeInUp 1s ease;
  animation-fill-mode: both;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  z-index: 20;
  position: absolute;
  background: $light;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  box-shadow: 0 5px 30px rgba($pink, 0.8);
  .title {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .bg-texture.first {
    position: absolute;
    bottom: -120px;
    left: -180px;
  }
  .bg-texture.second {
    position: absolute;
    right: -140px;
    top: -50px;
  }
}

.home-page {
  background: $light;
  @include absolute;
  padding: $feed-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $pink;
  text-align: center;

  .bg-texture {
    pointer-events: none;
    position: absolute;
    height: 80%;
    top: 0;
    mix-blend-mode: darken;
  }
  h2 {
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    max-width: 500px;
  }
  button {
    background: $dark-green;
    color: $light;
    border-radius: 5rem;
    margin: 2rem;
    margin-bottom: 0;
    width: 150px;
    height: 100px;
  }

  .buts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .signup-but {
    background: $pink;
  }

  .login-but {
    background: $dark-green;
  }
  .login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      height: 20vh;
      max-height: 70px;
      padding: $feed-padding;
      margin: $feed-padding;
    }
    h2 {
      position: relative;
      font-size: 2.5rem;
      margin-bottom: $feed-padding;
    }
  }
  .back-but {
    position: absolute;
    top: -15px;
    left: -80px;
    margin: 0;
    width: 80px;
    height: 80px;
    background: transparent;
    .jam {
      font-size: 2.2rem;
    }
  }
}

.modal.network {
  width: 90%;
  padding: $feed-padding;
  max-height: 90vh;
  top: 5vh;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    .jam-close {
      font-size: 2rem;
      color: $dark;
    }
  }
  .scrolling-row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    .preview {
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 10px;
      margin-right: 10px;
      box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.1);
      .pic {
        height: 100px;
        width: 100px;
        margin: auto;
        margin-top: 10px;
      }
      .yesno {
        width: 100%;
        margin-bottom: 10px;
        button {
          height: 50px;
        }
      }
    }
  }
  .add-friend {
    background: $lighter-pink;
    width: 100%;
    margin: 20px 0 20px;
    box-shadow: 0 2px 15px rgba($pink, 0.5);
  }
  .invite-friend {
    background: $dark-green;
    color: white;
    width: 100%;
    box-shadow: 0 2px 15px rgba($dark, 0.5);
  }
  .network-input {
    background: white;
    border-radius: 8px;
    margin: 10px;
    display: flex;

    input {
      padding: 20px;
      background: transparent;
      flex: auto;
    }
    button {
      background: $pink;
      color: white;
      border-radius: 5px;
      margin: 5px;

      padding: 5px;
      height: 50px;
      width: 100px;
    }
  }
}

.onboarding {
  @include absolute;
  background: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,
  h2 {
    color: $red;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 200%;
  }
  color: $black;
}

.page {
  background: rgba(white, 0.9);
  margin: $feed-padding;
  max-width: 700px;
  max-height: 850px;
  box-shadow: 0 10px 50px -15px rgba($black, 0.8);
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  padding: $feed-padding * 2 $feed-padding * 4 $feed-padding * 6 $feed-padding * 4;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  img {
    align-self: center;
    width: 90%;
  }
  .categories {
    display: flex;
    flex-direction: column;
    height: 100%;
    button {
      width: initial;
      flex: auto;
      margin-top: $feed-padding/2;
      color: $light;
      border-radius: 10px;
      text-align: left;
      padding-left: 40px;
      font-size: 1.1rem;
      &.mindful {
        background: #b7a69e;
      }
      &.sleep {
        background: #565e57;
      }
      &.food {
        background: #754067;
      }
      &.fitness {
        background: #d66a63;
      }
      &.med {
        background: #e8cc84;
      }
    }
  }

  #tags {
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ccc inset;
    padding: $feed-padding;
    background: #fafafa;
    margin: auto;
  }
  #tag-typer {
    outline: none;
    border: none;
    padding: 6px;
    margin: 3px;
    margin-right: -25px;
    width: 100px;
    background-color: transparent;
    font-size: 20px;
    color: #333;
  }
  &.one {
    h1 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 2rem;
      margin-top: 0;
    }
  }
  &.two {
    justify-content: center;
    h2 {
      width: 60%;
    }
  }

  &.four {

  }
  
  &.five button,
  &.six button {
    width: initial;
    border-radius: 15px;
    background: $dark;
    color: $light;
  }

  &.five {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: auto;
    .no {
      width: initial;
      background: transparent;
    }
  }
}

.cont-onboarding {
  position: absolute;
  bottom: $feed-padding;
  left: 0;
  right: 0;
  margin: auto;
  background: $dark;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  span {
    font-size: 2rem;
    color: white;
  }
}
